
Printer_Software_Java/Test_Serial_Comm/\.idea/

Printer_Software_Java/Test_Serial_Comm/out/

Printer_Software_Java/Printer_Software/\.idea/

Printer_Software_Java/Printer_Software/out/

Printer_Software_Java/Test_Serial_Comm/\.gradle/

Printer_Software_Java/Printer_Software/\.gradle/

Printer_Software_Java/Printer_Software/Printer_Software.iml